
body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background: linear-gradient(-45deg, #FF9FA9, #FE6595, #E53984,#FF0988);
    height: 100vh;
    margin: 0;
    align-items: center;
}

.contador{
    margin-left: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 733px;
    background-color: transparent;
    border-radius:3px ;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.contador div{
    height: 170px ;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.contador span {
    font-weight: bolder;
    font-size: 60px;
}

.contador span.tempo {
    font-size: 10px;
}




#ballon{
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    margin-left: 30px;
    margin-top: -200px;
   
}

#cake{
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 85px;
    height: 200px;
    width: 200px;
}