body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background: linear-gradient(-45deg, #fcc0c0,#FF0988);
    height: 100vh;
    margin: 0;
    align-items: center;
    overflow-x: hidden !important;
}

.contador{
    margin-top: 80px;
    margin-left: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 733px;
    background-color: transparent;
    border-radius:3px ;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);

}

.contador div{
    height: 170px ;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.contador span {
    font-weight: bolder;
    font-size: 60px;
}

.contador span.tempo {
    font-size: 10px;
}




#ballon{
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    margin-left: 30px;
    margin-top: -200px;
   
}

#cake{
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 85px;
    height: 200px;
    width: 200px;
}

.link{
    text-decoration: none;
    color: #fcc0c0;
    padding: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border-radius:3px ;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}
.link:hover{
    background-color: #FF0988;
}

p{
    text-align: center;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.gfotos{
    display: flex;
    justify-content: space-between;
    height: 700px;
    width: 100;
    margin: 50px;
    background-color: transparent;
    flex-direction: row;
    overflow: auto;

}
.g1{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    height: auto;
    width: 10000px;
    flex-direction: column;
    
}
.g2{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    height: auto;
    width: 10000px;
}




.foto1{
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    background-color: black;
    height: 300px;
    width: 250px;
}
.foto2{
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    background-color: black;
    height: 300px;
    width: 250px;
}
.foto3{
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    background-color: black;
    height: 300px;
    width: 250px;
}
.foto4{
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    background-color: black;
    height: 300px;
    width: 200px;
}
.foto5{
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    background-color: black;
    height: 300px;
    width: 250px;
}
.foto6{
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    background-color:transparent;
    height: 300px;
    width: 250px;
}

@media (max-width: 768px){
    .gfotos{
        flex-wrap: wrap;
    }
    .g1, .g2{
        display: flex;
    }
    .foto4, .foto5, .foto6{
        margin-left: 25px;
    }
}



@media (max-width: 768px){
    #contador{
        flex-wrap: wrap;
        overflow: hidden;
        flex-direction: column;
    }
    .dias, .horas, .minutos, .segundos{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 768px){
    #contador{
        height: 733px;
        width: 200px;
    }
    #ballon{
        height: 150px;
        width: 150px;
        margin-top: -750px;
        margin-right: 40px;
    }
    #cake{
        height: 150px;
        width: 150px;
    }
    .link{
        width: 130px;
        margin-bottom: 400px;
    }
    .foto1, .foto2, .foto3, .foto4, .foto5, .foto6{
        height: 150px;
        width: 100px;
        margin-left: 70px;
        
    }
}

@media (max-width: 1024px){
    #cake{
        position: relative;
        margin-left: 40px;
    }
}

/*estilizaçao da barra de rolagem*/
::-webkit-scrollbar{
    width: 5px;
    height: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #fcc0c0;
}